* {
  text-align: center;
  background-color: #e5e5e5;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 100px;
}

h1 {
  margin: 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  border: 1px solid #000814;
  width: 400px;
  height: 400px;
  flex: 0 auto;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  margin: 0;
}

.grid:hover {
  background-color: #000814;
}

.grid.selected {
  display: flex;
  background-color: #000814;
  margin: 0;
}

.grid.selected:hover {
  display: flex;
  background-color: #001d3d;
  margin: 0;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  font-size: 13px;
  margin: 15px 0;
  width: 100px;
  height: 35px;
  border: 0.5px solid #000814;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.active {
  transform: scale(0.98);
  font-size: 13px;
  margin: 15px 0;
  border: 0.5px solid #000814;
  border-radius: 8px;
  background-color: #000814;
  color: #e5e5e5;
}

.btn:active {
  transform: scale(0.98);
  background-color: #000814;
  color: #e5e5e5;
}

.size {
  margin: 0;
}

p {
  white-space: nowrap;
  margin: 8px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid black;
}